* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #18171c;
   width: 100%;
   max-width: 1080px;
   margin: 0 auto;
   font-family: sans-serif;
   font-size: 16px;
}

button {
   cursor: pointer;
}

::-webkit-scrollbar {
   width: 0.45rem;
}

::-webkit-scrollbar-track {
   background: #18171c;
}

::-webkit-scrollbar-thumb {
   background: #30beff;
   border-radius: 999px;
}
